<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.travel.seoul.mapper.UserMapper">
 	<insert id="insert" parameterType="com.travel.seoul.vo.UserVO">
 		insert into tbl_member values
 		(null, #{userID},#{userPassword},#{userAge}, #{userSex},#{userArea})
 	</insert>
 	<select id="list" resultType="com.travel.seoul.vo.UserVO">
 		select * from tbl_member 	
 	</select>
 	
 	<delete id="delete" parameterType="com.travel.seoul.vo.UserVO">
 		delete from tbl_member where userSerial = #{userSerial}
 	</delete>
 	<update id="update" parameterType="com.travel.seoul.vo.UserVO">
 		update tbl_member
 		  	set	
			 	userID = #{userID},
			 	userPassword = #{userPassword},
				userAge = #{userAge},
				userSex = #{userSex},
				userArea = #{userArea},
			where 	
				userSerial = #{userSerial}
 	</update>
 	<select id="selectId" resultType="com.travel.seoul.vo.UserVO">
		SELECT COUNT(*)
		  FROM tbl_member
		 WHERE userID = #{userID}
	</select>
</mapper>
